USE [db_restaurante]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 28/06/2018 19:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[boleta_cabecera]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boleta_cabecera](
	[boleta_cabecera_id] [int] IDENTITY(1,1) NOT NULL,
	[usuarioASP_fk_Id] [nvarchar](128) NULL,
	[fecha] [date] NOT NULL,
	[cliente] [nvarchar](max) NULL,
	[estado] [nvarchar](max) NULL,
	[subtotal] [money] NOT NULL,
	[total] [money] NOT NULL,
	[pedido_cabecera_fk_id] [int] NULL,
 CONSTRAINT [PK_dbo.boleta_cabecera] PRIMARY KEY CLUSTERED 
(
	[boleta_cabecera_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[boleta_detalle]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boleta_detalle](
	[boleta_detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[boleta_cabecera_id_fk] [int] NOT NULL,
	[plato_id_fk] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[total] [money] NOT NULL,
	[plato_plato_id] [int] NULL,
 CONSTRAINT [PK_dbo.boleta_detalle] PRIMARY KEY CLUSTERED 
(
	[boleta_detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empresa]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresa](
	[empresa_id] [int] IDENTITY(1,1) NOT NULL,
	[estado_empresa_id_fk] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [text] NULL,
	[ruc] [nvarchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[empresa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empresa_restaurante_usuario]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresa_restaurante_usuario](
	[restaurante_usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id_fk] [int] NOT NULL,
	[restaurante_id_fk] [int] NULL,
	[usuarioASP_fk_Id] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurante_usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_empresa]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_empresa](
	[estado_empresa_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_empresa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_usuario]    Script Date: 28/06/2018 19:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_usuario](
	[estado_usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesa]    Script Date: 28/06/2018 19:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesa](
	[mesa_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_id_fk] [int] NOT NULL,
	[estado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mesa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_cabecera]    Script Date: 28/06/2018 19:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_cabecera](
	[pedido_cabecera_id] [int] IDENTITY(1,1) NOT NULL,
	[mesa_id_fk] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[precio_final] [money] NOT NULL,
	[estado] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_cabecera_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_detalle]    Script Date: 28/06/2018 19:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_detalle](
	[pedido_detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_cabecera_id_fk] [int] NOT NULL,
	[plato_id_fk] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plato]    Script Date: 28/06/2018 19:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plato](
	[plato_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_id_fk] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precio] [money] NOT NULL,
	[categoria_plato_id_fk] [int] NOT NULL,
	[descripcion] [text] NOT NULL,
	[foto] [varchar](100) NULL,
	[estado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[plato_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plato_categoria]    Script Date: 28/06/2018 19:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plato_categoria](
	[plato_categoria_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[plato_categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurante]    Script Date: 28/06/2018 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurante](
	[restaurante_id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id_fk] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[foto] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurante_tipo]    Script Date: 28/06/2018 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurante_tipo](
	[restaurante_tipo_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_id_fk] [int] NOT NULL,
	[tipo_restaurante_id_fk] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurante_tipo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_restaurante]    Script Date: 28/06/2018 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_restaurante](
	[tipo_restaurante_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipo_restaurante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 28/06/2018 19:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_tipo_id_fk] [int] NOT NULL,
	[estado_usuario_id_fk] [int] NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[usuario_password] [varchar](100) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[dni] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_tipo]    Script Date: 28/06/2018 19:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_tipo](
	[usuario_tipo_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_tipo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Manager')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1974bce9-e6b1-4f4e-9a62-a49f5282a2e2', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1dee9d0e-e829-4a2b-8ae4-56e961034011', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'355e8c15-ff70-4c7d-aed8-e7c0544a3142', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1974bce9-e6b1-4f4e-9a62-a49f5282a2e2', N'kathy@pideya.com', 0, N'AF/0zSng9mChCb5KPcSd2iERn7ubwXv1KO66oXYSeOt+aYby1lCJFaQs5P1Xi0zFYw==', N'45c3db6b-5a1e-4f46-a946-a05753069150', NULL, 0, 0, NULL, 1, 0, N'kathy@pideya.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1dee9d0e-e829-4a2b-8ae4-56e961034011', N'elanchipa@pideya.com', 0, N'ALtQfImjVok3M8hoCnu62mRXZeEHonLDJ+TbLxeGOWEbqdh1jZgFe8XaX52oWtkh1g==', N'745e894f-3b8c-4c21-85ea-eb92886c184d', NULL, 0, 0, NULL, 1, 0, N'elanchipa@pideya.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'355e8c15-ff70-4c7d-aed8-e7c0544a3142', N'christopher@pideya.com', 0, N'ADlg8/gKC3RulGdrpsYLyH9xIEisBCq4NBi35fXL2JOPWm4X6HzXwtma7nLyFNkHhQ==', N'700c3a83-e2f0-48c5-9fe8-251663b3682a', NULL, 0, 0, NULL, 1, 0, N'christopher@pideya.com')
SET IDENTITY_INSERT [dbo].[boleta_cabecera] ON 

INSERT [dbo].[boleta_cabecera] ([boleta_cabecera_id], [usuarioASP_fk_Id], [fecha], [cliente], [estado], [subtotal], [total], [pedido_cabecera_fk_id]) VALUES (10, N'355e8c15-ff70-4c7d-aed8-e7c0544a3142', CAST(N'2018-06-27' AS Date), N'', N'Generado', 36.8000, 266.8000, 60)
SET IDENTITY_INSERT [dbo].[boleta_cabecera] OFF
SET IDENTITY_INSERT [dbo].[boleta_detalle] ON 

INSERT [dbo].[boleta_detalle] ([boleta_detalle_id], [boleta_cabecera_id_fk], [plato_id_fk], [cantidad], [total], [plato_plato_id]) VALUES (9, 10, 18, 10, 200.0000, 18)
INSERT [dbo].[boleta_detalle] ([boleta_detalle_id], [boleta_cabecera_id_fk], [plato_id_fk], [cantidad], [total], [plato_plato_id]) VALUES (10, 10, 17, 2, 30.0000, 17)
SET IDENTITY_INSERT [dbo].[boleta_detalle] OFF
SET IDENTITY_INSERT [dbo].[empresa] ON 

INSERT [dbo].[empresa] ([empresa_id], [estado_empresa_id_fk], [nombre], [descripcion], [ruc]) VALUES (1, 3, N'Pollón', N'Pollería', N'01234567855')
INSERT [dbo].[empresa] ([empresa_id], [estado_empresa_id_fk], [nombre], [descripcion], [ruc]) VALUES (2, 3, N'La Glorieta', N'Restaurante Campestre', N'01234567855')
INSERT [dbo].[empresa] ([empresa_id], [estado_empresa_id_fk], [nombre], [descripcion], [ruc]) VALUES (3, 2, N'Whari', N'Cevichería', N'01234567855')
SET IDENTITY_INSERT [dbo].[empresa] OFF
SET IDENTITY_INSERT [dbo].[empresa_restaurante_usuario] ON 

INSERT [dbo].[empresa_restaurante_usuario] ([restaurante_usuario_id], [empresa_id_fk], [restaurante_id_fk], [usuarioASP_fk_Id]) VALUES (2, 1, 6, N'355e8c15-ff70-4c7d-aed8-e7c0544a3142')
INSERT [dbo].[empresa_restaurante_usuario] ([restaurante_usuario_id], [empresa_id_fk], [restaurante_id_fk], [usuarioASP_fk_Id]) VALUES (3, 1, 1, N'355e8c15-ff70-4c7d-aed8-e7c0544a3142')
INSERT [dbo].[empresa_restaurante_usuario] ([restaurante_usuario_id], [empresa_id_fk], [restaurante_id_fk], [usuarioASP_fk_Id]) VALUES (5, 2, 2, N'1974bce9-e6b1-4f4e-9a62-a49f5282a2e2')
SET IDENTITY_INSERT [dbo].[empresa_restaurante_usuario] OFF
SET IDENTITY_INSERT [dbo].[estado_empresa] ON 

INSERT [dbo].[estado_empresa] ([estado_empresa_id], [nombre]) VALUES (2, N'Deshabilitado')
INSERT [dbo].[estado_empresa] ([estado_empresa_id], [nombre]) VALUES (3, N'Habilitado')
SET IDENTITY_INSERT [dbo].[estado_empresa] OFF
SET IDENTITY_INSERT [dbo].[mesa] ON 

INSERT [dbo].[mesa] ([mesa_id], [restaurante_id_fk], [estado]) VALUES (1, 1, N'Activo')
INSERT [dbo].[mesa] ([mesa_id], [restaurante_id_fk], [estado]) VALUES (3, 1, N'Activo')
INSERT [dbo].[mesa] ([mesa_id], [restaurante_id_fk], [estado]) VALUES (4, 1, N'Activo')
SET IDENTITY_INSERT [dbo].[mesa] OFF
SET IDENTITY_INSERT [dbo].[pedido_cabecera] ON 

INSERT [dbo].[pedido_cabecera] ([pedido_cabecera_id], [mesa_id_fk], [fecha], [precio_final], [estado]) VALUES (57, 1, CAST(N'2018-06-27' AS Date), 105.0000, N'Enviado')
INSERT [dbo].[pedido_cabecera] ([pedido_cabecera_id], [mesa_id_fk], [fecha], [precio_final], [estado]) VALUES (58, 1, CAST(N'2018-06-27' AS Date), 60.0000, N'Enviado')
INSERT [dbo].[pedido_cabecera] ([pedido_cabecera_id], [mesa_id_fk], [fecha], [precio_final], [estado]) VALUES (59, 1, CAST(N'2018-06-27' AS Date), 105.0000, N'Enviado')
SET IDENTITY_INSERT [dbo].[pedido_cabecera] OFF
SET IDENTITY_INSERT [dbo].[pedido_detalle] ON 

INSERT [dbo].[pedido_detalle] ([pedido_detalle_id], [pedido_cabecera_id_fk], [plato_id_fk], [cantidad], [precio]) VALUES (67, 57, 16, 3, 30.0000)
INSERT [dbo].[pedido_detalle] ([pedido_detalle_id], [pedido_cabecera_id_fk], [plato_id_fk], [cantidad], [precio]) VALUES (68, 57, 17, 1, 15.0000)
INSERT [dbo].[pedido_detalle] ([pedido_detalle_id], [pedido_cabecera_id_fk], [plato_id_fk], [cantidad], [precio]) VALUES (69, 57, 18, 3, 60.0000)
SET IDENTITY_INSERT [dbo].[pedido_detalle] OFF
SET IDENTITY_INSERT [dbo].[plato] ON 

INSERT [dbo].[plato] ([plato_id], [restaurante_id_fk], [nombre], [precio], [categoria_plato_id_fk], [descripcion], [foto], [estado]) VALUES (16, 1, N'Anticucho', 10.0000, 4, N'Nuestros anticuchos te van a fascinar. Las más selectas especias nacionales.', N'/Uploads/Platos/16.png', N'Activo')
INSERT [dbo].[plato] ([plato_id], [restaurante_id_fk], [nombre], [precio], [categoria_plato_id_fk], [descripcion], [foto], [estado]) VALUES (17, 1, N'Mollejitas Grill', 15.0000, 4, N'Doraditas y en su máximo esplendor ', N'/Uploads/Platos/17.png', N'Activo')
INSERT [dbo].[plato] ([plato_id], [restaurante_id_fk], [nombre], [precio], [categoria_plato_id_fk], [descripcion], [foto], [estado]) VALUES (18, 1, N'Chicharrón de Pollo', 20.0000, 7, N'¡Tentador por donde lo mires! Atención a esos amantes del chicharrón que optan por la papita dorada y el exquisito choclito nacional.', N'/Uploads/Platos/18.png', N'Activo')
SET IDENTITY_INSERT [dbo].[plato] OFF
SET IDENTITY_INSERT [dbo].[plato_categoria] ON 

INSERT [dbo].[plato_categoria] ([plato_categoria_id], [nombre]) VALUES (1, N'Vegetariano')
INSERT [dbo].[plato_categoria] ([plato_categoria_id], [nombre]) VALUES (2, N'Piqueo')
INSERT [dbo].[plato_categoria] ([plato_categoria_id], [nombre]) VALUES (3, N'Ensalada')
SET IDENTITY_INSERT [dbo].[plato_categoria] OFF
SET IDENTITY_INSERT [dbo].[restaurante] ON 

INSERT [dbo].[restaurante] ([restaurante_id], [empresa_id_fk], [nombre], [foto]) VALUES (1, 1, N'Pollón 1', N'aasd.jpeg')
INSERT [dbo].[restaurante] ([restaurante_id], [empresa_id_fk], [nombre], [foto]) VALUES (2, 2, N'La Glorieta', NULL)
INSERT [dbo].[restaurante] ([restaurante_id], [empresa_id_fk], [nombre], [foto]) VALUES (3, 4, N'Presto 1', N'presto.png')
SET IDENTITY_INSERT [dbo].[restaurante] OFF
SET IDENTITY_INSERT [dbo].[tipo_restaurante] ON 

INSERT [dbo].[tipo_restaurante] ([tipo_restaurante_id], [descripcion]) VALUES (1, N'Cevichería')
INSERT [dbo].[tipo_restaurante] ([tipo_restaurante_id], [descripcion]) VALUES (2, N'Pollería')
INSERT [dbo].[tipo_restaurante] ([tipo_restaurante_id], [descripcion]) VALUES (3, N'Chifa')
SET IDENTITY_INSERT [dbo].[tipo_restaurante] OFF
ALTER TABLE [dbo].[empresa] ADD  DEFAULT ('') FOR [ruc]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[boleta_cabecera]  WITH CHECK ADD  CONSTRAINT [FK_dbo.boleta_cabecera_dbo.AspNetUsers_usuarioASP_fk_Id] FOREIGN KEY([usuarioASP_fk_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[boleta_cabecera] CHECK CONSTRAINT [FK_dbo.boleta_cabecera_dbo.AspNetUsers_usuarioASP_fk_Id]
GO
ALTER TABLE [dbo].[boleta_cabecera]  WITH CHECK ADD  CONSTRAINT [FK_dbo.boleta_cabecera_dbo.pedido_cabecera_pedido_cabecera_fk_id] FOREIGN KEY([pedido_cabecera_fk_id])
REFERENCES [dbo].[pedido_cabecera] ([pedido_cabecera_id])
GO
ALTER TABLE [dbo].[boleta_cabecera] CHECK CONSTRAINT [FK_dbo.boleta_cabecera_dbo.pedido_cabecera_pedido_cabecera_fk_id]
GO
ALTER TABLE [dbo].[boleta_detalle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.boleta_detalle_dbo.boleta_cabecera_boleta_cabecera_id_fk] FOREIGN KEY([boleta_cabecera_id_fk])
REFERENCES [dbo].[boleta_cabecera] ([boleta_cabecera_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[boleta_detalle] CHECK CONSTRAINT [FK_dbo.boleta_detalle_dbo.boleta_cabecera_boleta_cabecera_id_fk]
GO
ALTER TABLE [dbo].[boleta_detalle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.boleta_detalle_dbo.plato_plato_plato_id] FOREIGN KEY([plato_plato_id])
REFERENCES [dbo].[plato] ([plato_id])
GO
ALTER TABLE [dbo].[boleta_detalle] CHECK CONSTRAINT [FK_dbo.boleta_detalle_dbo.plato_plato_plato_id]
GO
ALTER TABLE [dbo].[empresa]  WITH CHECK ADD FOREIGN KEY([estado_empresa_id_fk])
REFERENCES [dbo].[estado_empresa] ([estado_empresa_id])
GO
ALTER TABLE [dbo].[empresa_restaurante_usuario]  WITH CHECK ADD FOREIGN KEY([empresa_id_fk])
REFERENCES [dbo].[empresa] ([empresa_id])
GO
ALTER TABLE [dbo].[empresa_restaurante_usuario]  WITH CHECK ADD FOREIGN KEY([restaurante_id_fk])
REFERENCES [dbo].[restaurante] ([restaurante_id])
GO
ALTER TABLE [dbo].[empresa_restaurante_usuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.empresa_restaurante_usuario_dbo.AspNetUsers_usuarioASP_fk_Id] FOREIGN KEY([usuarioASP_fk_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[empresa_restaurante_usuario] CHECK CONSTRAINT [FK_dbo.empresa_restaurante_usuario_dbo.AspNetUsers_usuarioASP_fk_Id]
GO
ALTER TABLE [dbo].[mesa]  WITH CHECK ADD FOREIGN KEY([restaurante_id_fk])
REFERENCES [dbo].[restaurante] ([restaurante_id])
GO
ALTER TABLE [dbo].[pedido_cabecera]  WITH CHECK ADD FOREIGN KEY([mesa_id_fk])
REFERENCES [dbo].[mesa] ([mesa_id])
GO
ALTER TABLE [dbo].[pedido_detalle]  WITH CHECK ADD FOREIGN KEY([pedido_cabecera_id_fk])
REFERENCES [dbo].[pedido_cabecera] ([pedido_cabecera_id])
GO
ALTER TABLE [dbo].[pedido_detalle]  WITH CHECK ADD FOREIGN KEY([plato_id_fk])
REFERENCES [dbo].[plato] ([plato_id])
GO
ALTER TABLE [dbo].[plato]  WITH CHECK ADD FOREIGN KEY([categoria_plato_id_fk])
REFERENCES [dbo].[plato_categoria] ([plato_categoria_id])
GO
ALTER TABLE [dbo].[plato]  WITH CHECK ADD FOREIGN KEY([restaurante_id_fk])
REFERENCES [dbo].[restaurante] ([restaurante_id])
GO
ALTER TABLE [dbo].[restaurante]  WITH CHECK ADD FOREIGN KEY([empresa_id_fk])
REFERENCES [dbo].[empresa] ([empresa_id])
GO
ALTER TABLE [dbo].[restaurante_tipo]  WITH CHECK ADD FOREIGN KEY([restaurante_id_fk])
REFERENCES [dbo].[restaurante] ([restaurante_id])
GO
ALTER TABLE [dbo].[restaurante_tipo]  WITH CHECK ADD FOREIGN KEY([tipo_restaurante_id_fk])
REFERENCES [dbo].[tipo_restaurante] ([tipo_restaurante_id])
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([estado_usuario_id_fk])
REFERENCES [dbo].[estado_usuario] ([estado_usuario_id])
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([usuario_tipo_id_fk])
REFERENCES [dbo].[usuario_tipo] ([usuario_tipo_id])
GO
